{% load static %}


    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              luxbeauty

            </span>
          </a>
          <h5>
            Welcome, {{request.user.username}}

          </h5>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent" dir="rtl">
            <ul class="navbar-nav" style="font-size:large">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">الرئيسية <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop' %}">
                  المتجر
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}">
                  المخزن
                </a>
              </li>

              <li class="nav-item dropdown" dir="ltr">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  المزيد
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'chart_view' %}">احصائياتى</a>
                  <a class="dropdown-item" href="{% url 'banks_and_payments' %}">البنوك والمدفوعات</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">صفحتى</a>
                  <a class="dropdown-item" href="#">تسجيل الخروج</a>
                </div>
              </li>
              
            </ul>
            <div class="user_option">
              <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  تسجيل الدخول
                </span>
              </a>
              <a href="{% url 'order_summary' %}">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </a>
              <!-- <form class="form-inline ">
                <button class="btn nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form> -->
            </div>
          </div>
        </nav>
      </header>