{% extends 'partials/base.html' %}
{% block title %} Home Page {% endblock title %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
<div class="container" dir="rtl" style="margin-left: 8%;">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h3">الملف الشخصى</span>
                            <div class="profile_edit_button">
                                <a href="{% url 'user-profile-update' %}">تعديل</a>
                            </div>
                            <hr>
                            <table class="table bg-white table-borderless" >
                                <tbody dir="rtl">
                                    <tr >
                                        <th scope="row" style="font-size: larger;">الاسم:</th>
                                        <td>{{user.username}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: larger;">الايميل:</th>
                                        <td>{{user.email}}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" style="font-size: larger;">العنوان:</th>
                                        <td>{{user.profile.address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        {% if user.profile.image %}
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{% static 'avatar.png' %}" alt="">
                        </div>
                        {% endif %}
                            











                        <table class="table table-striped" dir='rtl'>
                            <thead style="text-align: center;">
                              <tr style="text-align: center">
                                <th scope="col">الترتيب</th>
                                <th scope="col">أرقام الهواتف الخاصة بك</th>
                                <th scope="col">حذف؟</th>
                              </tr>
                            </thead>
                            <tbody style="text-align: center;">
                    
                              
                              {% for p in my_phones.all %}
                                  <tr>
                                  <th scope="row" class="mt-1">{{forloop.counter}}</th>
                                  <td>{{p.phone}}</td>
                                  <td>
                                    <a href="{% url 'user-phone-delete' p.phone %}">
                                    <img width="25" height="25" src="https://img.icons8.com/dusk/25/filled-trash.png" alt="filled-trash"/>
                                    </a>
                                  </td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                      <td colspan='10' style="font-size:large; text-align: center;">ليس لديك اى أرقام هواتف</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                        </table>

                        <div class="phone_edit_button">
                            <a href="{% url 'user-phone-update' %}">
                                اضافة المزيد من الارقام
                             <!-- <img width="30" height="30" src="https://img.icons8.com/cute-clipart/30/phone.png" alt="phone" style="margin-right: 5px;"/> -->
                             <img width="30" height="30" src="https://img.icons8.com/ios/30/plus-2-math.png" alt="plus-2-math" style="margin-right: 5px;"/>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
